{% extends "aplicacion/index.html" %}

{% block titulo %}
<h1 class="mb-5">Acerca de mi</h1>
{% endblock titulo %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <p>Mi nombre es Micaela Garrido, tengo 32 años y vivo en General Las Heras, provincia de Buenos Aires. Soy estudiante de Analista de Sistemas y actualmente estoy cursando el último año.</p>
            <p>Además, soy profesora de Danzas Árabes.</p>
            <p>En mis tiempos libres disfruto mucho entrenar, bailar y pasar tiempo con familia y amigos. Aunque el mundo de la programación es nuevo para mí, estoy disfrutando mucho aprendiendo y desarrollando mis habilidades en este campo.</p>
        </div>
    </div>
</div>
{% endblock contenido %}
